@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'IRANYekan';
    src: url("./assets/fonts/yekan/woff2/Yekan.woff2") format("woff2");
    font-weight: normal;
}
html {
    font-family: IRANYekan, serif;
}

.scroll-bar{
    height: 100vh;
    direction: rtl;
    overflow: hidden;
    /*transform: rotateY(180deg);*/
}
.scroll-bar-style{
    @apply overflow-y-auto;
    height: 100vh;
    /*transform: rotateY(180deg);*/
    direction: rtl;
}
.your-scroll-container {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.your-scroll-container::-webkit-scrollbar {
    display: none;
}
/* ====== place in your global CSS (index.css / globals.css) ====== */

@property --r {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

/* class used on your <img> inside the table cell */
.hexagon-img {
    /* default controls */
    --r: 0.4;
    --a: 60deg;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    --_a: calc(30deg * var(--r));
    --_r: calc(50% * cos(30deg) / cos(calc(30deg * (1 - var(--r)))));
    cursor: pointer;
    transition: --r 0.5s, --a 0.5s;
    clip-path: shape(
            from calc(50% + var(--_r) * cos(var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(var(--a) + var(--_a)))
            with calc(50% + 50% * cos(var(--a)))
            calc(50% + 50% * sin(var(--a))),

            line to calc(50% + var(--_r) * cos(60deg + var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(60deg + var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(60deg + var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(60deg + var(--a) + var(--_a)))
            with calc(50% + 50% * cos(60deg + var(--a)))
            calc(50% + 50% * sin(60deg + var(--a))),

            line to calc(50% + var(--_r) * cos(120deg + var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(120deg + var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(120deg + var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(120deg + var(--a) + var(--_a)))
            with calc(50% + 50% * cos(120deg + var(--a)))
            calc(50% + 50% * sin(120deg + var(--a))),

            line to calc(50% + var(--_r) * cos(180deg + var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(180deg + var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(180deg + var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(180deg + var(--a) + var(--_a)))
            with calc(50% + 50% * cos(180deg + var(--a)))
            calc(50% + 50% * sin(180deg + var(--a))),

            line to calc(50% + var(--_r) * cos(240deg + var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(240deg + var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(240deg + var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(240deg + var(--a) + var(--_a)))
            with calc(50% + 50% * cos(240deg + var(--a)))
            calc(50% + 50% * sin(240deg + var(--a))),

            line to calc(50% + var(--_r) * cos(300deg + var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(300deg + var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(300deg + var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(300deg + var(--a) + var(--_a)))
            with calc(50% + 50% * cos(300deg + var(--a)))
            calc(50% + 50% * sin(300deg + var(--a)))
    );
}

.hexagon-img:hover {
    --r: 0.35;
    --a: 0deg;
}

.hexagon-img + .hexagon-img:hover {
    --a: 30deg;
}
.hexagon-shadow {
    position: relative;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply drop-shadow-lg drop-shadow-cyan-300
}
.bg-order{
    background-color:hsla(187,87%,61%,0.1);
    background-image:
            radial-gradient(at 99% 100%, hsla(307,87%,61%,0.2) 0px, transparent 50%);
}
.pattern{
    opacity: 0.75;
    background: repeating-linear-gradient(135deg, #7EFCCC 0, #7EFCCC 10%, transparent 0, transparent 50%);
    background-size: 2.5em 2.5em;
}







