@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'IRANYekan';
    src: url("./assets/fonts/yekan/woff2/Yekan.woff2") format("woff2");
    font-weight: normal;
}
html {
    font-family: IRANYekan, serif;
}

.scroll-bar{
    height: 100vh;
    direction: rtl;
    overflow: hidden;
    /*transform: rotateY(180deg);*/
}
.scroll-bar-style{
    @apply overflow-y-auto;
    height: 100vh;
    /*transform: rotateY(180deg);*/
    direction: rtl;
}
.your-scroll-container {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.your-scroll-container::-webkit-scrollbar {
    display: none;
}
/* ====== place in your global CSS (index.css / globals.css) ====== */

@property --r {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

/* class used on your <img> inside the table cell */
.hexagon-img {
    /* default controls */
    --r: 0.4;
    --a: 60deg;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    --_a: calc(30deg * var(--r));
    --_r: calc(50% * cos(30deg) / cos(calc(30deg * (1 - var(--r)))));
    cursor: pointer;
    transition: --r 0.5s, --a 0.5s;
    clip-path: shape(
            from calc(50% + var(--_r) * cos(var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(var(--a) + var(--_a)))
            with calc(50% + 50% * cos(var(--a)))
            calc(50% + 50% * sin(var(--a))),

            line to calc(50% + var(--_r) * cos(60deg + var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(60deg + var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(60deg + var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(60deg + var(--a) + var(--_a)))
            with calc(50% + 50% * cos(60deg + var(--a)))
            calc(50% + 50% * sin(60deg + var(--a))),

            line to calc(50% + var(--_r) * cos(120deg + var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(120deg + var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(120deg + var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(120deg + var(--a) + var(--_a)))
            with calc(50% + 50% * cos(120deg + var(--a)))
            calc(50% + 50% * sin(120deg + var(--a))),

            line to calc(50% + var(--_r) * cos(180deg + var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(180deg + var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(180deg + var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(180deg + var(--a) + var(--_a)))
            with calc(50% + 50% * cos(180deg + var(--a)))
            calc(50% + 50% * sin(180deg + var(--a))),

            line to calc(50% + var(--_r) * cos(240deg + var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(240deg + var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(240deg + var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(240deg + var(--a) + var(--_a)))
            with calc(50% + 50% * cos(240deg + var(--a)))
            calc(50% + 50% * sin(240deg + var(--a))),

            line to calc(50% + var(--_r) * cos(300deg + var(--a) - var(--_a)))
            calc(50% + var(--_r) * sin(300deg + var(--a) - var(--_a))),

            curve to calc(50% + var(--_r) * cos(300deg + var(--a) + var(--_a)))
            calc(50% + var(--_r) * sin(300deg + var(--a) + var(--_a)))
            with calc(50% + 50% * cos(300deg + var(--a)))
            calc(50% + 50% * sin(300deg + var(--a)))
    );
}

.hexagon-img:hover {
    --r: 0.35;
    --a: 0deg;
}

.hexagon-img + .hexagon-img:hover {
    --a: 30deg;
}
.hexagon-shadow {
    position: relative;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply drop-shadow-lg drop-shadow-cyan-300
}
.bg-order{
    background-color:hsla(187,87%,61%,0.1);
    background-image:
            radial-gradient(at 99% 100%, hsla(307,87%,61%,0.2) 0px, transparent 50%);
}
.pattern{
    opacity: 0.75;
    background: repeating-linear-gradient(135deg, #7EFCCC 0, #7EFCCC 10%, transparent 0, transparent 50%);
    background-size: 2.5em 2.5em;
}
.leaf-4 {
    width: 100px;
    height: 100px;
    border-radius: 0 90px;
}
.attribute {
    position: relative; /* ضروری اگر از ::before استفاده می‌کنید */
}

.attribute::before {
    content: "";
    position: absolute;
    width: 100%; /* اندازه پترن */
    height: 100%;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%2300bdd600'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linecap='square' stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linecap='square' stroke-width='1' stroke='hsla(339.6,82.2%,51.6%,1)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linecap='square' stroke-width='1' stroke='hsla(198.7,97.6%,48.4%,1)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linecap='square' stroke-width='1' stroke='hsla(47,80.9%,61%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    /*background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(2)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81' stroke-linecap='square' stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");*/
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2; /* شدت ملایم */
    pointer-events: none; /* تا روی کارت تداخل نکند */
}











